@media (width >= 1366px ) {
.card{
    width: 50vh;
    gap: 2em;
    margin: 50px;
    margin-left: 70px;
    margin-right: 200px;
}
.grid{

        display: grid;
        grid-template-columns: 500px 500px;
        grid-template-rows: 500px 500px;
}

.card:hover {
    box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.836) !important;
    transition: all 0.3s linear;
}
.card-body{
    padding: 2rem 0 !important;
}
.card-text{
    padding: 0.3rem 1rem;
    font-size: 1rem;
    color: gold;
}
.overflow{
    overflow: hidden;
}
.Imagenes{
    height: 197px;
    width: 100%;
    transition: all 0.2s ease-in-out;

}
.Imagenes:hover{
    transform: scale(1.8);
}
}


















@media (320px <= width <= 476px ) {
    .Inicio{
        margin-top: 5%;
        margin-bottom: 5%;
        height: 70%;
    }
    .Cards-container {
        padding: 20%;
        padding-bottom: 40%;
        padding-top: 40%;
    }
    .card{
        width: 55%;
        height: 100%;
        margin-left: 70px;
        margin-right: 200px;
        
 

    }

    .card:hover {
        box-shadow: 5px 10px 20px 1px rgba(255, 255, 255, 0.836) !important;
        transition: all 0.3s linear;
    }
    .card-body{
        padding: 0.01rem 0 !important;
    }
    .card-text{
        padding: 0.01rem 0.5rem;
        font-size: 8.2px;
        color: gold;
    }
    .overflow{
        overflow: hidden;
    }
    .Imagenes{
        height: 0%;
        width: 0%;
    
    }
    .Bombonera{
        height: 50vh;
        width: 100vw;
    }


}




    
