
.Inferiores{

    height: 100vh;
    width: 100%;
    

}
.inf-text{
  
    color: white;
    font-size: 30px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0;
}
.inf-foto{
    padding-left: 390px;
    padding-top: 50px;
    padding-bottom: 50px;
}







@media (320px <= width <= 476px) {

    .Inferiores{

        height: 90vh;
        width: 100vw;
        
    
    }
    .inf-foto{
        width: 0px;
        height: 0px;
    
    
    }
    .info-photo{
        margin-right: 0%;
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 10%;
        width: 100%;
    }
    .inf-text{
        color: white;
        font-size: 17px;
        text-align: center;
        height: 50vh;
        width: 100vw;
        
    }

 }
    
