@media (width >= 1366px ) {
.form-body{
    align-items: center;
    padding-left: 400px;
    color: rgb(255, 255, 255);
    
}
h1{color: white;}
.input{
    width: 700px;
    height: 30px;
    border: 3px solid rgb(0, 0, 0);

}
.input:hover{
    border: 3px solid rgb(236, 182, 2);
    transition: 0.1s;
}
.submit{
  border: 3px solid black;
  color: white;
 
  background-color: rgb(236, 182, 2);
  height: 50px;
  font-size: larger;
  font-style:oblique;
}
.submit:hover{
    background-color: rgb(230, 189, 57);
    transition: 0.3s;
}
.Result{
    width: 100%;
    background-color: rgb(230, 189, 57);
    border: 1px solid black;
    align-items: center;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-top: 70px;
}
.Result:hover{
    box-shadow: 1px 2px 3px 2.5px rgba(255, 255, 255, 0.836) !important;
    color: rgb(44, 12, 247);
    transition: all 0.1s linear;
}
}












@media (280px <= width <= 1365px ) {
label{
  color: white;
}

  .form-control{
    width: 80%;
    height: 70px;
    margin-bottom: 3%;
    
  }
  .form-body{
    align-items: center;
    padding-left: 400px;
    color: rgb(255, 255, 255);
    
}
h1{color: white;}
.input{
    width: 100%;
    height: 50px;
    border: 3px solid rgb(0, 0, 0);

}
.input:hover{
    border: 3px solid rgb(236, 182, 2);
    transition: 0.1s;
}
.submit{
  border: 3px solid black;
  color: white;
  background-color: rgb(236, 182, 2);
  height: 50px;
  font-size: larger;
  font-style:oblique;
}
.submit:hover{
    background-color: rgb(230, 189, 57);
    transition: 0.3s;
}
.Result{
    width: 80%;
    background-color: rgb(230, 189, 57);
    border: 1px solid black;
    align-items: center;
    top: 0;
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-top: 70px;
}
.Result-text{
  font-size: 15px;
}
.Result:hover{
    box-shadow: 1px 2px 3px 2.5px rgba(255, 255, 255, 0.836) !important;
    color: rgb(44, 12, 247);
    transition: all 0.1s linear;
}
}

