.Bombonera-img{
    width: 100vw;
    margin-top: 0.001%;
}


/* --------------------------- -----------------------*/

@media (min-width: 320px) {
    .Stadium-cards{
        padding-right: 50%;
    }
}

/* --------------------------- -----------------------*/

@media (min-width: 768px) {
    .Stadium-cards{
   
        padding-right: 100%;
        padding-bottom: 60%;
    }
}

/* --------------------------- -----------------------*/



@media (min-width: 1078px) {
    .Stadium-cards{
        padding-right: 100%;
        padding-bottom: 15%;
    }
}

/* --------------------------- -----------------------*/