@media (min-width: 1366px) {
.Boca-foot{
    width: 0vw;
    height: 0vh;
 
}
.Footer{
    background: rgb(0,0,0);
    background: linear-gradient(94deg, rgba(0,0,0,1) 20%, rgba(16,0,61,1) 30%, rgba(7,0,103,1) 56%, rgba(0,5,145,1) 66%, rgba(0,8,227,1) 82%);
     border-radius: 10px;
     height: 50vh;
     width: 100%;
}
.footer-text{
    color: #ffffff;
    float: right;
    margin-right: 150px;
    margin-top: 50px;
    
}
}


/* --------------------------- -----------------------*/


@media (min-width: 320px) {
    .Boca-foot{
        width: 40%;
        height: 100%;

     
    }
    .footer-text{
        color: #ffffff;
        float: right;
        margin-right: 14%;
        margin-top: 20%;
        font-size: 10px;
    }
    .Footer{
        background: rgb(0,0,0);
        background: linear-gradient(94deg, rgba(0,0,0,1) 20%, rgba(16,0,61,1) 30%, rgba(7,0,103,1) 56%, rgba(0,5,145,1) 66%, rgba(0,8,227,1) 82%);
        width: 100vw;
        height: 40vh;
       
    }


/* --------------------------- -----------------------*/


}
@media (min-width: 768px) {
    .Boca-foot{
        width: 40%;
        height: 100%;
     
    }
    .footer-text{
        color: #ffffff;
        float: right;
        margin-right: 10%;
        margin-top: 5%;
        font-size: 20px;
    }
    .Footer{
        background: rgb(0,0,0);
        background: linear-gradient(94deg, rgba(0,0,0,1) 20%, rgba(16,0,61,1) 30%, rgba(7,0,103,1) 56%, rgba(0,5,145,1) 66%, rgba(0,8,227,1) 82%);
         border-radius: 10px;

        width: 100vw;
        height: 25vh;
    }
}


@media (min-width: 1078px) {
    .Boca-foot{
      width: 40%;
        height: 100%;
     
     
    }
    .footer-text{
        color: #ffffff;
        float: right;
        margin-right: 10%;
        margin-top: 5%;
        font-size: 25px;
    }
    .Footer{
        background: rgb(0,0,0);
        background: linear-gradient(94deg, rgba(0,0,0,1) 20%, rgba(16,0,61,1) 30%, rgba(7,0,103,1) 56%, rgba(0,5,145,1) 66%, rgba(0,8,227,1) 82%);
         border-radius: 10px;

        width: 100vw;
        height: 50vh;
    }
}