.TFD{

    height: 100vh;
    width: 100%;
    

}
.tdc-text{
  
    color: white;
    font-size: 30px;
    text-align: center;
    padding-left: 0px;
    padding-right: 0;
}
.tdc-foto{
    padding-left: 500px;
    padding-top: 50px;
    padding-bottom: 50px;
}

/* --------------------------- -----------------------*/

@media (min-width: 320px) {
    .TFD{

        height: 100vh;
        width: 100vw;
        
    }
  .tdc-text{
    color: white;
    font-size: 19px;
    text-align: center;
    height: 90vh;
    width: 100vw;
  }
    .tdc-foto{
        width: 0px;
        height: 0px;
    
    }
    .TFD-DIV{
        margin-right: 0%;
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 10%;
        width: 100%;
    }
}

/* --------------------------- -----------------------*/

@media (min-width: 700px) {
    .tdc-text{
        color: white;
        font-size: 25px;
        text-align: center;
        height: 90vh;
        width: 100vw;
      }
}

/* --------------------------- -----------------------*/

@media (min-width: 768px) {
    .TFD{

        height: 100vh;
        width: 100vw;
        
    }
  .tdc-text{
    color: white;
    font-size: 19px;
    text-align: center;
    height: 45vh;
    width: 100vw;
  }
    .tdc-foto{
        width: 170%;
        height: 170%;
    
    }
    .TFD-DIV{
      
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 20%;
        width: 100%;
    }
}

/* --------------------------- -----------------------*/

@media (min-width: 1078px) {
    .TFD{
        height: 100vh;
        width: 100vw;
    
    }
  .tdc-text{
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 2%;
    margin-top: 5%;
    
  }
    .tdc-foto{
        height:60vh;
        width: 120%;
        padding-right: 10%;
        padding-left: 50%;
    }
    .TFD-DIV{
        padding-top: 20%;
        height: 40%;
        width: 100vw;
        margin-bottom: 15%;
    }
}