.Pibe-text{
    height: 50vh;
    

}
.Paredes{

    height: 100vh;
    width: 100%;


}
.Wall-text{
  
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
  

}
.Wall-foto{
    padding-left: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
    height: 500px;
    width: 1000px;
}

@media (320px <= width <= 476px ) {
    .Paredes{

        height: 90vh;
        width: 100vw;
        
    
    
    }
    .Pibe-text{
        margin-top: 1%;
    width: 100%;
    }
    .Wall-text{
        color: white;
        font-size: 16px;
        text-align: center;
        height: 50vh;
        width: 100vw;
    
    }
    .Pibe-img{
        margin-right: 0%;
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 10%;
        width: 100%;
    }
    .Wall-foto{
        width: 0px;
        height: 0px;
    
    }
}

