.Pibe-text{
    height: 50vh;
    

}
.Paredes{

    height: 100vh;
    width: 100%;


}
.Wall-text{
  
    color: rgb(255, 255, 255);
    font-size: 30px;
    text-align: center;
  

}
.Wall-foto{
    padding-left: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
    height: 500px;
    width: 1000px;
}

/* --------------------------- -----------------------*/

@media (min-width: 320px) {
    .Paredes{

        height: 100vh;
        width: 100vw;
        
    
    
    }
    .Pibe-text{
    width: 100%;
       height: 90%; 
    }
    .Wall-text{
        color: white;
        font-size: 15px;
        text-align: center;
     
        width: 100vw;
    
    }
    .Pibe-img{
        margin-right: 0%;
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 10%;
        width: 100%;
    }
    .Wall-foto{
        width: 0px;
        height: 0px;
    
    }
}

/* --------------------------- -----------------------*/


@media (min-width: 500px) {
    .Wall-text{
        color: white;
        font-size: 22px;
        text-align: center;
     
        width: 100vw;
    
    }
}


/* --------------------------- -----------------------*/

@media (min-width: 768px) {
    .Paredes{

        height: 100vh;
        width: 100vw;
        
    
    
    }
    .Pibe-text{
    width: 100%;
       height: 46%; 
    }
    .Wall-text{
        color: white;
        font-size: 19px;
        text-align: center;
     
        width: 100vw;
    
    }
    .Pibe-img{
        display: flex;
        justify-content: right;
        align-items: center;
        padding-right: 20%;
        width: 100%;
    }
    .Wall-foto{
        width: 140%;
        height: 100%;
    
    }
}

/* --------------------------- -----------------------*/


@media (min-width: 1078px) {
    .Paredes{
        height: 100vh;
        width: 100vw;
    
    }
    .Pibe-text{

        margin-bottom: 15%;
        height: 20%;
        

    }

    .Wall-text{
        color: white;
        font-size: 23px;
        text-align: center;
        
        
    
    }
    .Pibe-img{
        padding-top: 12%;
        padding-left: 20%;
        height: 40%;
        width: 100vw;
        margin-bottom: 12%;
        
    }
    .Wall-foto{
        height: 60vh;
        width: 100%;
        padding-right: 10%;
        padding-left: 10%;
  
    }
}